html{
    cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}

.imgIntro{
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.select{
    cursor: pointer;
    width: 200px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 86px;
    margin-left: auto;
    margin-right: auto;
}

.margemT{
    margin-top: 10px;
}

img {
    width: 100%;
}

.boxGame {
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}    

/*=========Tamanho das imagens*/
.mosquito1{
    width: 50px;
    height: 50px;
}
.mosquito2{
    width: 70px;
    height: 70px;
}
.mosquito3{
    width: 90px;
    height: 90px;
}


/*==========imagen padrão*/
.ladoA{
    transform: scaleX(1);
}
/*==========inversão da imagen*/
.ladoB{
    transform: scaleX(-1);
}
.painel{
    position: absolute;
    width: 190px;
    left: 0px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}